src/.vs/
.vs/
src/BudgetPlanerUI/obj/
src/BudgetPlanerUI.Client/obj/
src/BudgetPlaner.Api/obj/
BudgetPlaner.Models/obj/
src/BudgetPlanerUI.Client/bin/
src/BudgetPlaner.Api/bin/
BudgetPlaner.Models/bin/
src/BudgetPlanerUI/bin/
src/BudgetPlaner.Models/obj/
src/BudgetPlaner.Models/bin/
.idea/
src/BudgetPlaner.Domain/obj/
test/BugetPlaner.Domain.Test/obj/
src/BudgetPlaner.Domain/bin/
