@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<div class="max-w-md">
   <VerticalMenu/>
</div>

@code {
   [CascadingParameter] 
    private Task<AuthenticationState>? AuthenticationState { get; set; }

   private AuthenticationState? State { get; set; }
   protected override async Task OnInitializedAsync()
   {
      if (AuthenticationState != null)
      {
         State = await AuthenticationState;
      }
   }
}
